-
    var header = "#experience"
    var experience = {
        title:"junior web developer",
        date:"july 2017 - now",
        company:"BitBee",
        responsibilityList:[
            "Research and develop with Front End technologies like HTML5, CSS3 and JavaScript",
            "Build online websites with Google Page Speed Score above 90/100",
            "Build projects that are quicker and faster to load and render than all of the other tested website (according to pingdom tools)",
            "Build and maintain “front end blog by beginner for beginners"
        ]
    }

#experience
.experience
    .experience__header=header
    input.experience__input(type="radio" id="experience-default" name="same-name")
    input.experience__input(type="radio" id="experience-id" name="same-name")
    label.experience__title(for="experience-id")
        | #{experience.title}
        label(for="experience-default")
            span.my-cv__icon--plus
    .experience__details
        .experience__top
            .experience__date=experience.date
            .experience__company=experience.company
        .experience__list
            each responsibility in experience.responsibilityList
                .experience__responsibility=responsibility
