-
    var myFullName = "Marco Caramaschi"
    var myTitle = "Junior Web Developer"
    var header = "#about me"
    var imgPath = "asset/image/me.jpg"
    var slogan = `My passion is to create the web and translate designs into front-end interfaces. Technology flows through my veins so I can make the front-end world a better place. I love to meet like-minded people, so: Let’s chat!`
    var coolStuff = {
        title: "have a look of this project on GitHub or grab a copy of my CV here:",
        linkList: [
            {
                url:"http://github.com/Marco981/my-cv",
                icon:"github",
                text:"Click to visit the project source page on GitHub"
            },{
                url:"asset/doc/marco-cv.docx",
                icon:"file-word",
                text:`Click to download the Microsoft Word version`
            }
        ]
    }
    var portfolio = {
        title: "Portfolio",
        description: "To discover more about my work and research, please visit my Blog. By clicking the button below you will navigate directly to my personal blog where I share my passion for technology. I am publishing on regular basis new discoveries I have made in coding and programing in general. Your feedback is important to me, please feel free to leave your comments.",
        link:{
            url:"http://github.com/Marco981/my-cv",
            icon:"github",
            text:`Click to visit the Blog Page`
        }
    }
    var achievements = {
        title:"Achievements",
        description: "Building a page that scores 100/100 on Google Page Speed Insights is probably the biggest achievement in my carrier as a Web Developer so far."
    }
#about-me
.about-me
    h2.about-me__header=header
    .about-me__avatar-wrapper
        img.about-me__avatar(src=imgPath)
    h3.about-me__full-name=myFullName
    h3.about-me__title=myTitle
    p.about-me__slogan=slogan
    h3.portfolio-title=portfolio.title
    p.portfolio-description=portfolio.description
    .portfolio__link
        a.about-me__link(href=portfolio.link.url)
            span.portfolio__link-description=portfolio.link.text
            span(class=`my-cv__icon--${portfolio.link.icon}`)
    .about-me__title=coolStuff.title
    .about-me__link-list
        each link in coolStuff.linkList
            a.about-me__link(href=link.url)
                span.about-me__link-description=link.text
                span(class=`my-cv__icon--${link.icon}`)
            